$nav-color: #24252A
$route-hover: #A9B4C4
$route-text: white
$game-area-border: #b0b2b5
$game-area-columns-color: #7092be
$sight-row-color: #404040
$sight-background: #e54545
$shot-column-background: #ecb700
$control-keys-color: darkred
$ship-row-gradient: 180deg, rgb(4, 5, 56) 22%, rgb(255, 255, 255) 100%
