@import "../../../../styles/colors"

.skyline-area
  background: -webkit-linear-gradient($ship-row-gradient)
  background: -moz-linear-gradient($ship-row-gradient)
  background: linear-gradient($ship-row-gradient)
  border: 1px solid $game-area-border
  height: 175px
  overflow: hidden

  .ship__ship-image_big
    position: relative
    top: 54px

  .ship__ship-image_small
    position: relative
    top: 73px

