@import "src/app/styles/colors"

.about_page
  width: 60%
  margin: 86px auto auto

  .about-page__subtitle
    text-align: center
    margin: 20px 0
    font-size: 20px

  .about-page__section-title
    text-align: center
    font-size: 35px
    margin: 20px 0

  .about-page__text-content
    text-indent: 30px

  .about-page__control-key
    font-weight: bold
    text-decoration: underline
    color: $control-key-color

  .about-page__text-button
    font-weight: bold
    color: $text-button-color

#header-list
  .header-list__item
    margin-left: 23px

.list
  .list__item
    margin: 10px 0 10px 23px
    text-indent: 12px
