<div class="container">
  <h1 class="section-title">Game rules</h1>
  <p class="text-content">The game area is divided into 3 zones: skyline, along which ships move;
    sea area, divided into cells, at which the shot is fired and the area, along which the sight moves.</p>
  <p class="text-content">Your task is to shoot down as many ships as possible.
    The sight is controlled by the <span class="control-keys">left and right keys</span> on the keyboard, the shot is fired by the
    <span class="control-keys">Enter key</span>.
    Before starting the game, you will be prompted to select the size of the game area and the game mode.</p>
</div>
