@import "src/app/styles/colors"

.container
  width: 60%
  margin: auto

  .subtitle
    text-align: center
    margin: 20px 0
    font-size: 20px

  .section-title
    text-align: center
    font-size: 35px
    margin: 20px 0

  .header-text
    margin: 20px 0

    .header-list-content
      margin-left: 23px

  .list-content
    margin: 10px 0 10px 23px
    text-indent: 12px

  .text-content
    text-indent: 30px

    .control-key
      font-weight: bold
      text-decoration: underline
      color: $control-key-color

    .text-button
      font-weight: bold
      color: $text-button-color
