@import "colors"

.navbar
  background: $navColor
  text-align: center

  .navList, .route
    margin: 10px 15px
    color: $routeText
    text-decoration: none
    display: inline-block

    &:hover
      color: $routeHover









