@import "colors"

.navbar
  background: $nav-color
  text-align: center

  .nav-list, .route
    margin: 10px 15px
    color: $route-text
    text-decoration: none
    display: inline-block

    &:hover
      color: $route-hover
