@import "../../../../../styles/colors"

#sight
  .sight-image
    width: 58px
    height: 48px
    border-radius: 10px
    border: 1px solid black
    padding: 3px
    background: $sight-background
    margin: 4px
