@import "../../../../../styles/colors"

#sight
  width: 1050px
  height: 59px

  .sight-image
    position: relative
    width: 58px
    height: 49px
    border-radius: 10px
    border: 1px solid black
    padding: 3px
    background: $sight-background
    margin: 4px 4px 4px 6px
